<!DOCTYPE html>
<html>

<head>
    <title>İbrahim Üstüner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <style>
        body{
    background-image: url('/static/newwallpaper2.jpg');
    background-size: cover;
}
      </style>
          <div class="container1">
            <div class="navbar1">
              <div class="abra1">
    <h1></h1>
    <p>Gazi Üniversitesi Teknoloji Fakültesi Elektrik-Elektronik Mühendisliği 3. sınıf öğrencisiyim. Bilgi Teknolojileri ve İletişim Kurumunda staj yapıyorum..</p>
    </div>
    <div class="social">
        <a href="https://www.instagram.com/ibrah1mustuner/">İnstagram</a>
        <a href="https://www.linkedin.com/in/ibrahim-üstüner-262a03256/">Linkedin</a>
        <a href="https://github.com/xandronova">github</a>
        <a href="/">ana sayfa</a>
    </div>
</body>
</html>